#logo {
	max-height:100px;
}

#home_section {
    margin-top:90px;
}

.year-menu {
    padding: 5px 20px;
}

#year-message {
    padding-top: 10px;
    padding-left: 10px;
}

#infos-div {
    margin-bottom: 20px;
	border:1px solid #C7C7C7;
}

#infos-tree {
	left:0%;
    float: left;
	border:none;
	border-right:1px solid #C7C7C7;
}

#infos-edit-form {
	border-left:1px solid #C7C7C7;
	padding:20px;
	min-height:120px;
}

#infos-form {
	display:none;
}

#infos-edit-text {
	margin:auto;
	height:100px;
  	line-height:100px;
}

.alert {
	display:none;
}
